* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #fff;
  scroll-behavior: smooth;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(2,6,23,0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

header .logo {
  font-size: 22px;
  font-weight: 700;
  color: #38bdf8;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #38bdf8;
}

.hero h3 {
  margin: 10px 0;
  font-weight: 400;
}

.hero p {
  max-width: 600px;
  margin-top: 10px;
}

/* BUTTON */
.btn {
  margin-top: 30px;
  padding: 14px 35px;
  border-radius: 30px;
  background: #38bdf8;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 120px 80px;
  text-align: center;
}

.section h2 {
  font-size: 38px;
  margin-bottom: 30px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: rgba(30,41,59,0.8);
  padding: 30px;
  border-radius: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  background: #38bdf8;
  color: #000;
}

/* FORM */
form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
}

footer {
  padding: 20px;
  text-align: center;
  background: #020617;
}

/* SLIDE ANIMATION */
.slide {
  opacity: 0;
  transform: translateY(80px);
  transition: 1s;
}

.slide.show {
  opacity: 1;
  transform: translateY(0);
}


